body {
  /*background-image: url(http://img0.mxstatic.com/wallpapers/78fba6df8a1be5965335f7b89666ef59_large.jpeg);*/
  background-color: #FFE6C4;
  font-family: serif;
}

.stretch {
  padding-right: 0px;
  padding-left: 10px;
}

.submit-btn {
  margin-top: 20px;
}

.form-control {
  width: 97%
}

.address {
  height: 34px;
  padding: 6px 12px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.4286;
  color: #555;
  border-radius: 4px;
  width: 32%;
  border: 1px solid #ccc;
}

td {
  padding-left: 0px;
  padding-right: 0px;
}

.map-canvas {
  width: 600px;
  height: 400px;
}

.panel-default > .product-select-header {
  text-align: center;
  background-color: lightgrey;
  margin: 0px;
  padding: 10px;
}

#inner-navbar {
  background-color: #DDF2B9;
  border-style: none;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: .5px
  border-color: black;
  padding: 5px;
}

#outer-navbar {
  background-color: #DDF2B9;
  border-style: none;
  border-top-style: dashed;
  border-bottom-style: dashed;
  border-color: black;
  padding: 5px;
}

/*li .ember-view {
  background-color: lightgreen;
}*/

#home-grain {
  font-size: 13.5em;
