<div class="panel panel-default">

    <h3 class="product-select-header">Edit Products</h3>

  {{#each product in model}}
    {{#link-to "edit-product" product.id class="list-group-item"}}
      {{product.title}}
    {{/link-to}}
  {{/each}}
</div>
