<div class="panel panel-default">
  <h3 class="product-select-header">Product List</h3>
    {{#each product in model}}
    {{#link-to "product" product.id class="list-group-item"}}
    {{product.title}}
    {{/link-to}}
    {{/each}}
  </div>
