normal product list
<div class="list-group">
  {{#each product in model}}
    {{#link-to "product" product.id class="list-group-item"}}
      <h4 class="list-group-item-heading">
        {{product.title}}
      </h4>
    {{/link-to}}
  {{/each}}
</div>
