<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    {{#link-to "new-product" class="btn btn-success"}}<div {{action "newProduct"}}>Add new product</div>{{/link-to}}
  </div>
  <div class="btn-group" role="group">
    {{#link-to "edit" class="btn btn-warning"}}<div {{action "editProduct"}}>Edit a product</div>{{/link-to}}
  </div>
</div>
