
  {{#link-to "new-product" class="btn btn-primary"}}<div {{action "newProduct"}}>Add new product</div>{{/link-to}}

{{#link-to "edit" class="btn btn-primary"}}<div {{action "editProduct"}}>Edit a product</div>{{/link-to}}

{{#link-to "contacts" class="btn btn-primary"}}<div>View Contacts</div>{{/link-to}}
