<h3 class="text-center">Contacts Map!</h3>
{{google-map
  markerInfoWindowTemplateName='info-window'
            markers=model
            lat=centerLat
            lng=centerLng
            zoom=zoom
            gopt_zoomControl=true
            type='street'
            gopt_scaleControl=true
}}

<!-- <div class="controls">
  <label>
    Zoom:
    {{input type="range" value=zoom min=0 max=18 step=1}}
  </label>
</div> -->
