<h1>CONTANCT</h1>
<div class="container">

  <form>
    {{input type="text" placeholder="Business Name" value=businessName}}
    {{input type="text" placeholder="Email" value=emailAddress}}
    <!-- {{input type="text" placeholder="Products Interested In" value=Product}} -->
    <button class="btn btn-danger" {{action 'addContact'}}>Submit</button>
  </form>
</div>
