<h1>Contacts Map!</h1>

{{google-map
  markerInfoWindowTemplateName='info-window'
             markers=model
             lat=centerLat
             lng=centerLng
             zoom=zoom
             gopt_zoomControl=false
             type='street'}}

<div class="controls">
  <label>
    Zoom:
    {{input type="range" value=zoom min=0 max=18 step=1}}
  </label>
</div>
