<div class="col-md-3">
  {{partial "products/product-list"}}
</div>

<div class="col-md-9">

  {{#if viewing}}
    {{outlet}}
  {{/if}}

  {{#if adding}}
    {{partial "products/new-product"}}
  {{/if}}

  {{#if editing}}
    {{partial "products/edit-product"}}
  {{/if}}
</div>
